
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f2f2f2;
}

/* Header Styles */
.header {
  background-color: navy;
  color: #fff;
  padding: 20px;
}

.header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header p {
  font-size: 16px;
}

.clickable{
  cursor: pointer;
}

/* Content Styles */
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

 .content div {
 background-color: rgb(82, 220, 204);
 padding: 15px;
 border-radius: 20px;
 width: 780px;
 height: auto;
}

.content h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: darkcyan;
}

 .content h3 {
  font-size: 18px;
          font-weight: bold;

  margin-bottom: 10px;
  color: darkcyan;
}

.content p {
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer p {
  font-size: 14px;
}


