*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/background.jpg);
    background-size: cover;
    background-position: centre;
    position: relative;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
 
nav-img{
    width: 150px;
}

.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style : none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.logo{
    height: 70px;
    width: 100px;
}

.nav-links ul li::after{
    content: '';
    width: 0px;
    height: 2px;
    background-color: #7fd2ff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul :hover::after{
    width: 100px;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border:1px solid #fff ;
    padding: 12px 34px;
    font-size: 13px;
    background : transparent ;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #7fd2ff;
    background: #64c8fe;
    transition: 1s;
}


/*---course-----*/


.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #b9e7ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px ;
    box-sizing: border-box;
    transition: 0.5s;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 40px 0px rgba(125, 230, 240, 0.723);
}


/*---course-----*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 32%;
    height: 670px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    display: block;
    
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(81, 226, 255, 0.7);
}

.layer h3{
    width: 100%;
    font-weight: 600;
    color: #ffffff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*---facilities-----*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px ;
    
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
    
}

.facilities-col p{
    padding: 0;
}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


/* Section styles */
.departments {
    background-color: #ffffff;
    padding: 2px;
    padding-top:100px ;
  }
  
  .departments h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5px;        
  }
  
  .departments .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Department column styles */
  .departments-col {
    width: 250px;
    margin: 15px;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
    cursor: pointer;
  }

.departments-col:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
  
  .departments-col img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .departments-col h3 {
    margin-top: 5px;
    font-size: 18px;
  }
  
 